@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --operator-bg-color: hsl(27, 100%, 50%);
  --operator-bg-color-hover: hsl(27, 100%, 60%);
  --special-bg-color: hsl(0, 0%, 50%);
  --special-bg-color-hover: hsl(0, 0%, 60%);
  --numbers-bg-color: hsl(0, 0%, 80%);
  --numbers-bg-color-hover: hsl(0, 0%, 70%);
  --selected-bg-color: hsl(27, 100%, 70%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  border: 1px solid black;
  height: 65px;
  font-size: 32px;
  width: 100%;
  color: black;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
#calculator {
  width: min(100% - 12px, 320px);
  margin-inline: auto;
  background-color: black;
}
#result {
  text-align: right;
  color: white;
  padding-inline-end: 20px;
  padding-block: 10px;
  height: 100px;
  font-size: 50px;
  overflow: hidden;
}
#buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
}
#specials {
  grid-column: 1/2;
  grid-row: 1/2;
}
#specials button {
  background-color: var(--special-bg-color);
}
#specials button:hover {
  background-color: var(--special-bg-color-hover);
}
#numbers {
  grid-column: 1/2;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#numbers button:nth-last-child(1) {
  grid-column: 1/4;
}
#numbers button {
  background-color: var(--numbers-bg-color);
}
#numbers button:hover {
  background-color: var(--numbers-bg-color-hover);
}
#operators {
  grid-column: 2/3;
  grid-row: 1/-1;
}
#operators button {
  background-color: var(--operator-bg-color);
}
#operators button:hover {
  background-color: var(--operator-bg-color-hover);
}

#operators .selected {
  background-color: var(--selected-bg-color) !important;
}
